# DB (XAMPP)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=entegrasyon-paneli
DB_PORT=3306

# App
NODE_ENV=development
PORT=3001
JWT_SECRET=supersecretkey

# Trendyol
TRENDYOL_SUPPLIER_ID=113278
TRENDYOL_APP_KEY=CK_XXX
TRENDYOL_APP_SECRET=CS_XXX

# Diğer
AUTH_REQUIRED=false
PUBLIC_ROUTES=/health
